##      ___           ___           ___           ___           ___     
##     /\  \         /\  \         |\__\         /\  \         /\  \    
##    /::\  \        \:\  \        |:|  |       /::\  \       /::\  \   
##   /:/\:\  \        \:\  \       |:|  |      /:/\:\  \     /:/\:\  \  
##  /::\~\:\  \       /::\  \      |:|__|__   /::\~\:\  \   /::\~\:\  \ 
## /:/\:\ \:\__\     /:/\:\__\     /::::\__\ /:/\:\ \:\__\ /:/\:\ \:\__\
## \/_|::\/:/  /    /:/  \/__/    /:/~~/~    \/__\:\/:/  / \:\~\:\ \/__/
##    |:|::/  /    /:/  /        /:/  /           \::/  /   \:\ \:\__\  
##    |:|\/__/     \/__/         \/__/             \/__/     \:\ \/__/  
##    |:|  |                                                  \:\__\    
##     \|__|                                                   \/__/    

"WINDOW_NAME": "r-type_client"
"WINDOW_FAMERATE": 30
"WINDOW_SIZE": {
    "X": 800
    "Y": 800
}
"FONT": "asset/font/Code-Bold.ttf"