##      ___           ___           ___           ___           ___     
##     /\  \         /\  \         |\__\         /\  \         /\  \    
##    /::\  \        \:\  \        |:|  |       /::\  \       /::\  \   
##   /:/\:\  \        \:\  \       |:|  |      /:/\:\  \     /:/\:\  \  
##  /::\~\:\  \       /::\  \      |:|__|__   /::\~\:\  \   /::\~\:\  \ 
## /:/\:\ \:\__\     /:/\:\__\     /::::\__\ /:/\:\ \:\__\ /:/\:\ \:\__\
## \/_|::\/:/  /    /:/  \/__/    /:/~~/~    \/__\:\/:/  / \:\~\:\ \/__/
##    |:|::/  /    /:/  /        /:/  /           \::/  /   \:\ \:\__\  
##    |:|\/__/     \/__/         \/__/             \/__/     \:\ \/__/  
##    |:|  |                                                  \:\__\    
##     \|__|                                                   \/__/    

"FONT": "asset/font/Code-Pro.otf"
"WINDOW_NAME": "r-type_client"
"WINDOW_FAMERATE": 30
"WINDOW_SIZE": {
    "X": 800
    "Y": 800
}

## BULLET CONFIG

"BULLET_DEFAULT_ANIMATION_STEP": 2
"BULLET_DEFAULT_ANIMATION_PATH": "asset/sprites/r-typesheet1.gif"
"BULLET_DEFAULT_VELOCITY": [
    {"X": 20 "Y": 0}\
    {"X": 18 "Y": 0}\
    {"X": 16 "Y": 0}\
    {"X": 14 "Y": 0}\
    {"X": 12 "Y": 0}\
]
"BULLET_DEFAULT_ANIMATION_FOCUS_POS": [
    {"X": 230 "Y": 100}\
    {"X": 200 "Y": 118}\
    {"X": 167 "Y": 134}\
    {"X": 135 "Y": 152}\
    {"X": 104 "Y": 167}\
]
"BULLET_DEFAULT_ANIMATION_FOCUS_SIZE": [
    {"X": 19 "Y": 17}\
    {"X": 32 "Y": 17}\
    {"X": 49 "Y": 17}\
    {"X": 65 "Y": 17}\
    {"X": 82 "Y": 20}\
]

## SPRITES
"SPRITESHEET2": "asset/sprites/r-typesheet2.gif"

## SCROLLING CONFIG

"SCROLLING_DEFAULT_PATH": "asset/sprites/background.jpg"
"SCROLLING_DEFAULT_POS": {
    "X": -800
    "Y": 0
}
"SCROLLING_DEFAULT_VELOCITY": {
    "X": 10
    "Y": 0
}

# Menu

"HOME_BACKGROUND": "asset/sprites/background.jpg"
"HOME_SUBTITLE": "BLAST OFF AND STRIKE THE EVIL BYDO EMPIRE!"
"HOME_MENTIONS": "C 1977, 1977 EPITECH CORP"
"HOME_TITLE": "asset/img/title.png"
"HOME_BTN_PLAY": "PLAY"
"HOME_BTN_OPTIONS": "OPTIONS"
"ROOM_BACKGROUND": "asset/img/room_list_background.png"
