##      ___           ___           ___           ___           ___
##     /\  \         /\  \         |\__\         /\  \         /\  \
##    /::\  \        \:\  \        |:|  |       /::\  \       /::\  \
##   /:/\:\  \        \:\  \       |:|  |      /:/\:\  \     /:/\:\  \
##  /::\~\:\  \       /::\  \      |:|__|__   /::\~\:\  \   /::\~\:\  \
## /:/\:\ \:\__\     /:/\:\__\     /::::\__\ /:/\:\ \:\__\ /:/\:\ \:\__\
## \/_|::\/:/  /    /:/  \/__/    /:/~~/~    \/__\:\/:/  / \:\~\:\ \/__/
##    |:|::/  /    /:/  /        /:/  /           \::/  /   \:\ \:\__\
##    |:|\/__/     \/__/         \/__/             \/__/     \:\ \/__/
##    |:|  |                                                  \:\__\
##     \|__|                                                   \/__/

### NETWORK

"SERVER_IP": "127.0.0.1"
"SERVER_PORT_UDP": 8081
"SERVER_PORT_TCP": 8080

### GUI

"FONT": "asset/font/Code-Pro.otf"
"WINDOW_NAME": "r-type_client"
"WINDOW_FAMERATE": 30
"WINDOW_SIZE": {
    "X": 800
    "Y": 800
}

"PLAYER_INIT_POS": {
    "X": 120
    "Y": 80
}

"PLAYER_SPRITE_SIZE": {
    "X": 33
    "Y": 17
}

## BULLET CONFIG

"BULLET_DEFAULT_ANIMATION_STEP": 2
"BULLET_DEFAULT_ANIMATION_PATH": "asset/sprites/r-typesheet1.gif"
"BULLET_DEFAULT_VELOCITY": [
    {"X": 20 "Y": 0}\
    {"X": 18 "Y": 0}\
    {"X": 16 "Y": 0}\
    {"X": 14 "Y": 0}\
    {"X": 12 "Y": 0}\
]
"BULLET_DEFAULT_ANIMATION_FOCUS_POS": [
    {"X": 230 "Y": 100}\
    {"X": 200 "Y": 118}\
    {"X": 167 "Y": 134}\
    {"X": 135 "Y": 152}\
    {"X": 104 "Y": 167}\
]
"BULLET_DEFAULT_ANIMATION_FOCUS_SIZE": [
    {"X": 19 "Y": 17}\
    {"X": 32 "Y": 17}\
    {"X": 49 "Y": 17}\
    {"X": 65 "Y": 17}\
    {"X": 82 "Y": 20}\
]

"BULLET_DAMAGE": 1

## SPRITES
"SPRITESHEET2": "asset/sprites/r-typesheet2.gif"

## SCROLLING CONFIG

"SCROLLING_DEFAULT_PATH": "asset/sprites/background.jpg"
"SCROLLING_DEFAULT_POS": {
    "X": 0
    "Y": 0
}
"SCROLLING_DEFAULT_VELOCITY": {
    "X": -10
    "Y": 0
}

# Player
"PLAYER_HEALTH": 3
"SCORE_INC": 42

# Menu

"HOME_BACKGROUND": "asset/sprites/background.jpg"
"HOME_SUBTITLE": "BLAST OFF AND STRIKE THE EVIL BYDO EMPIRE!"
"HOME_MENTIONS": "C 1977, 1977 EPITECH CORP"
"HOME_TITLE": "asset/img/title.png"
"HOME_BTN_PLAY": "PLAY"
"HOME_BTN_OPTIONS": "OPTIONS"
"ROOM_BACKGROUND": "asset/img/room_list_background.png"

## AUDIO & SOUND

"DEFAULT_VOLUME": 0
"MUSIC_GAME_SCENE": "asset/music/R_Type-03_Game1.ogg"
"MUSIC_HOME_SCENE": "asset/music/R_Type-15 _MenuTheme.ogg"
"MUSIC_START_SCENE": "asset/music/R_Type-01_theme.ogg"
"MUSIC_SETTINGS_SCENE": "asset/music/R_Type-15 _MenuTheme.ogg"
"MUSIC_ROOMLIST_SCENE": "asset/music/R_Type-15 _MenuTheme.ogg"

"SOUND_BULLET": [
    "asset/sound/shoot.ogg"\
    "asset/sound/shoot2.ogg"\
]
"SOUND_EXPLOSION": "asset/sound/explosion.ogg"

## EXPLOSION
"EXPLOSION_ANIMATION_STEP": 5
"EXPLOSION_ANIMATION_DURATION": 3000
"EXPLOSION_ANIMATION_PATH": "asset/sprites/r-typesheet44.gif"
"EXPLOSION_ANIMATION_FOCUS_SIZE": {
    "X": 66
    "Y": 70
}
"EXPLOSION_ANIMATION_FOCUS_POS": {
    "X": 325
    "Y": 96
}

## type_client
"CLIENT_WAIT_LABEL": "You will wait a moment: "
"CLIENT_WAIT_BACKGROUND": "asset/sprites/background.jpg"