##      ___           ___           ___           ___           ___     
##     /\  \         /\  \         |\__\         /\  \         /\  \    
##    /::\  \        \:\  \        |:|  |       /::\  \       /::\  \   
##   /:/\:\  \        \:\  \       |:|  |      /:/\:\  \     /:/\:\  \  
##  /::\~\:\  \       /::\  \      |:|__|__   /::\~\:\  \   /::\~\:\  \ 
## /:/\:\ \:\__\     /:/\:\__\     /::::\__\ /:/\:\ \:\__\ /:/\:\ \:\__\
## \/_|::\/:/  /    /:/  \/__/    /:/~~/~    \/__\:\/:/  / \:\~\:\ \/__/
##    |:|::/  /    /:/  /        /:/  /           \::/  /   \:\ \:\__\  
##    |:|\/__/     \/__/         \/__/             \/__/     \:\ \/__/  
##    |:|  |                                                  \:\__\    
##     \|__|                                                   \/__/    

## PORT
"PORT_UDP": 8081
"PORT_UDP_CLIENT": 8082
"PORT_TCP": 8080
"ROOM_MAX": 10
"MAX_CLIENT_ROOM": 4

## NETWORK CORE

"FIRST_STAGE": "asset/map/lvl1.rtype"
"WINDOW_SIZE": {
    "first": 800
    "second": 800
}

## ENTITY
"EQUIPMENT_DEFAULT_VELOCITY": {
    "first": -10
    "second": 0
}

"ENEMY_DEFAULT_VELOCITY": {
    "first": -10
    "second": 0
}
"ENEMY_REFRESH_RATE": 500 # ms