# '#' is for comment
# the comment are delete without any interpretation

# BASIC EXAMPLE
"exampleInt": -42
"exampleBool": 'fAlsE'
"exampleString": "mdr c fun"
"exampleFloat": -42.42

"exampleCustomList": [
    12\
    24\
    48\
]

# CUSTOM EXAMPLE

"exampleCustom": {
    "test": "lol -> "
    "testD": 1024
}